<a href="https://colab.research.google.com/github/vikasgc09/Insurance/blob/main/insurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import numpy as np

In [4]:
df = pd.read_csv('insurance.csv')

In [5]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
df_gender = pd.get_dummies(df['sex'])
df_smoke = pd.get_dummies(df['smoker'])
df_region = pd.get_dummies(df['region'])

In [8]:
df_gender

      female  male
0          1     0
1          0     1
2          0     1
3          0     1
4          0     1
...      ...   ...
1333       0     1
1334       1     0
1335       1     0
1336       1     0
1337       1     0

[1338 rows x 2 columns]

In [9]:
df = df.join(df_gender)
df = df.join(df_smoke)
df = df.join(df_region)

In [10]:
df

,age,sex,bmi,children,smoker,region,charges,female,male,no,yes,northeast,northwest,southeast,southwest
0,19,female,27.900,0,yes,southwest,16884.92400,1,0,0,1,0,0,0,1
1,18,male,33.770,1,no,southeast,1725.55230,0,1,1,0,0,0,1,0
2,28,male,33.000,3,no,southeast,4449.46200,0,1,1,0,0,0,1,0
3,33,male,22.705,0,no,northwest,21984.47061,0,1,1,0,0,1,0,0
4,32,male,28.880,0,no,northwest,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,0,1,1,0,0,1,0,0
1334,18,female,31.920,0,no,northeast,2205.98080,1,0,1,0,1,0,0,0
1335,18,female,36.850,0,no,southeast,1629.83350,1,0,1,0,0,0,1,0
1336,21,female,25.800,0,no,southwest,2007.94500,1,0,1,0,0,0,0,1
1337,61,female,29.070,0,yes,northwest,29141.36030,1,0,0,1,0,1,0,0

In [11]:
df = df.drop(['sex','smoker','region'], axis=1)

In [12]:
df

,age,bmi,children,charges,female,male,no,yes,northeast,northwest,southeast,southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,1,0,0,1,0,1,0,0

In [18]:
x_train, x_test , y_train , y_test = train_test_split(df[['age','children','female','male','yes','no','bmi','northeast','northwest','southeast','southwest']],df.charges, test_size = 0.2)

In [19]:
x_train

,age,children,female,male,yes,no,bmi,northeast,northwest,southeast,southwest
878,41,1,0,1,0,1,28.800,0,0,0,1
531,62,0,1,0,0,1,31.730,1,0,0,0
153,42,0,1,0,1,0,23.370,1,0,0,0
736,37,0,1,0,1,0,38.390,0,0,1,0
750,37,0,1,0,1,0,26.400,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1183,48,1,1,0,0,1,27.360,1,0,0,0
1070,37,1,0,1,1,0,37.070,0,0,1,0
700,21,0,1,0,0,1,34.870,0,0,1,0
839,59,0,1,0,0,1,31.350,0,1,0,0
805,45,0,1,0,0,1,35.815,0,1,0,0

y_train

In [20]:
y_train

878      6282.23500
531     14043.47670
153     19964.74630
736     40419.01910
750     19539.24300
           ...
1183     9447.38240
1070    39871.70430
700      2020.55230
839     12622.17950
805      7731.85785
Name: charges, Length: 1070, dtype: float64

In [24]:
 from sklearn.linear_model import LinearRegression
 from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor(random_state = 1).fit(x_train, y_train)
reg.score(x_train, y_train)

0.9988297695528275

In [25]:
reg.predict([[37,0,	1,	0,	1,	0,	26.400,	0,	0,	1,	0]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([19539.243])