<a href="https://colab.research.google.com/github/vikasgc09/Insurance/blob/main/insurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import numpy as np

In [ ]:
df = pd.read_csv('insurance.csv')

In [ ]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df_gender = pd.get_dummies(df['sex'])
df_smoke = pd.get_dummies(df['smoker'])

In [ ]:
df_gender

      female  male
0          1     0
1          0     1
2          0     1
3          0     1
4          0     1
...      ...   ...
1333       0     1
1334       1     0
1335       1     0
1336       1     0
1337       1     0

[1338 rows x 2 columns]

In [ ]:
df = df.join(df_gender)
df = df.join(df_smoke)

In [ ]:
df

,age,sex,bmi,children,smoker,region,charges,female,male,no,yes
0,19,female,27.900,0,yes,southwest,16884.92400,1,0,0,1
1,18,male,33.770,1,no,southeast,1725.55230,0,1,1,0
2,28,male,33.000,3,no,southeast,4449.46200,0,1,1,0
3,33,male,22.705,0,no,northwest,21984.47061,0,1,1,0
4,32,male,28.880,0,no,northwest,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,0,1,1,0
1334,18,female,31.920,0,no,northeast,2205.98080,1,0,1,0
1335,18,female,36.850,0,no,southeast,1629.83350,1,0,1,0
1336,21,female,25.800,0,no,southwest,2007.94500,1,0,1,0
1337,61,female,29.070,0,yes,northwest,29141.36030,1,0,0,1

In [ ]:
df = df.drop(['sex','smoker','bmi','region'], axis=1)

In [ ]:
df

      age  children      charges  female  male  no  yes
0      19         0  16884.92400       1     0   0    1
1      18         1   1725.55230       0     1   1    0
2      28         3   4449.46200       0     1   1    0
3      33         0  21984.47061       0     1   1    0
4      32         0   3866.85520       0     1   1    0
...   ...       ...          ...     ...   ...  ..  ...
1333   50         3  10600.54830       0     1   1    0
1334   18         0   2205.98080       1     0   1    0
1335   18         0   1629.83350       1     0   1    0
1336   21         0   2007.94500       1     0   1    0
1337   61         0  29141.36030       1     0   0    1

[1338 rows x 7 columns]

In [ ]:
x_train, x_test , y_train , y_test = train_test_split(df[['age','children','female','male','yes','no']],df.charges, test_size = 0.2)

In [ ]:
x_train

      age  children  female  male  yes  no
1303   43         0       0     1    1   0
158    30         0       0     1    1   0
393    49         1       0     1    0   1
1334   18         0       1     0    0   1
437    35         3       0     1    0   1
...   ...       ...     ...   ...  ...  ..
171    49         0       0     1    0   1
452    24         0       0     1    0   1
451    30         1       0     1    0   1
439    26         0       0     1    0   1
148    53         1       1     0    0   1

[1070 rows x 6 columns]

y_train

In [ ]:
y_train

1303    37829.7242
158     36950.2567
393      9290.1395
1334     2205.9808
437      5926.8460
           ...
171      8116.6800
452      1969.6140
451      4032.2407
439      2897.3235
148     10959.6947
Name: charges, Length: 1070, dtype: float64

In [ ]:
 from sklearn.linear_model import LinearRegression
 from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor(random_state = 0).fit(x_train, y_train)
reg.score(x_train, y_train)

0.8989336132595285

In [ ]:
reg.predict([[43,0,0,1,1,0]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([37829.7242])